button{
    width: 80px;
    height: 60px;
    border: none;
    border-right: 0.5px solid gray;
    border-top: 0.5px solid gray;
    
    font-size: larger;
}
.digit:hover{
    background-color: rgb(204, 203, 203);
}

.operator{
    background-color: rgb(255, 166, 0);
    border-right: none;
    color: white;
}
.operator:hover{
    background-color: rgb(235, 154, 4);
}

.func-key{
    background-color: rgb(160, 158, 158);
}
.func-key:hover{
    background-color: gray;
}

#title{
    width: 240px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: blue;
}