.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: space-between;
    
}

.product-item{
    width: 250px;
    padding:15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px gray;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;
}

.product-item:hover{
    transform: rotateY(10deg) rotateX(5deg) scale(1.05);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.3);
}

.card{
    height: 270px;
    width: 250px;
}

p{
    color: green;
}