.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: space-between;
    
}

.product-item{
    width: 250px;
    padding:15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px gray;
}

.product-item:hover{
    transform: translateY(-5px); /*translateY(-10px) scale(1.03);*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.2),
    0 0 15px rgba(248, 66, 66, 0.5);
}

.card{
    height: 270px;
    width: 250px;
}

p{
    color: green;
}