.container{
    display: flex;
    flex-wrap: wrap;
    margin : 0 auto;
    justify-content: space-between; 
}

.card{
    width: 250px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px gray;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;
}
.card:hover{
    cursor: pointer;
    transform: rotateY(10deg) rotateX(5deg) scale(1.05);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.3);
}
.card-text{
    height: 80px;
}

.card-body{
    height: 250px;
}

.card-title{
    height: 55px;
}

.card img{
    margin:0 auto;
    height: 130px;
    width: 100px;
}
